<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
    {{>header}}

    <p>Use this site to get your weather!</p>
    <form name="whetherForm">
        <label>
            <input type="text" name="whetherInput" placeholder="location"/>
        </label>
        <button>search</button>
    </form>
    <h2 id="whetherInfo"></h2>
</div>

{{>footer}}
<script src="/js/app.js"></script>
</body>

</html>